In [1]:
import pandas as pd

In [2]:
sd = pd.read_csv('../data/scoobydoo.csv')

In [3]:
sd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 75 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     603 non-null    int64
 1   series_name               603 non-null    object
 2   network                   603 non-null    object
 3   season                    603 non-null    object
 4   title                     603 non-null    object
 5   imdb                      588 non-null    float64
 6   engagement                588 non-null    float64
 7   date_aired                603 non-null    object
 8   run_time                  603 non-null    int64
 9   format                    603 non-null    object
 10  monster_name              516 non-null    object
 11  monster_gender            516 non-null    object
 12  monster_type              516 non-null    object
 13  monster_subtype           515 non-null    object
 14  monster_species           516 non-null    object
 15  monster_real              516 non-null    object
 16  monster_amount            603 non-null    int64
 17  caught_fred               384 non-null    object
 18  caught_daphnie            438 non-null    object
 19  caught_velma              385 non-null    object
 20  caught_shaggy             571 non-null    object
 21  caught_scooby             575 non-null    object
 22  captured_fred             384 non-null    object
 23  captured_daphnie          438 non-null    object
 24  captured_velma            385 non-null    object
 25  captured_shaggy           571 non-null    object
 26  captured_scooby           575 non-null    object
 27  unmask_fred               384 non-null    object
 28  unmask_daphnie            438 non-null    object
 29  unmask_velma              385 non-null    object
 30  unmask_shaggy             571 non-null    object
 31  unmask_scooby             575 non-null    object
 32  snack_fred                384 non-null    object
 33  snack_daphnie             438 non-null    object
 34  snack_velma               385 non-null    object
 35  snack_shaggy              572 non-null    object
 36  snack_scooby              576 non-null    object
 37  unmask_other              603 non-null    bool
 38  caught_other              603 non-null    bool
 39  caught_not                603 non-null    bool
 40  trap_work_first           249 non-null    object
 41  setting_terrain           603 non-null    object
 42  setting_country_state     603 non-null    object
 43  suspects_amount           603 non-null    int64
 44  non_suspect               443 non-null    object
 45  arrested                  448 non-null    object
 46  culprit_name              440 non-null    object
 47  culprit_gender            440 non-null    object
 48  culprit_amount            603 non-null    int64
 49  motive                    536 non-null    object
 50  if_it_wasnt_for           189 non-null    object
 51  and_that                  75 non-null     object
 52  door_gag                  603 non-null    bool
 53  number_of_snacks          602 non-null    object
 54  split_up                  384 non-null    float64
 55  another_mystery           384 non-null    float64
 56  set_a_trap                384 non-null    float64
 57  jeepers                   438 non-null    float64
 58  jinkies                   385 non-null    float64
 59  my_glasses                385 non-null    float64
 60  just_about_wrapped_up     385 non-null    float64
 61  zoinks                    571 non-null    float64
 62  groovy                    571 non-null    float64
 63  scooby_doo_where_are_you  571 non-null    float64
 64  rooby_rooby_roo           575 non-null    float64
 65  batman                    603 non-null    bool
 66  scooby_dum                603 non-null    bool
 67  scrappy_doo               603 non-null    bool
 68  hex_girls                 603 non-null    bool
 69  blue_falcon               603 non-null    bool
 70  fred_va                   384 non-null    object
 71  daphnie_va                438 non-null    object
 72  velma_va                  385 non-null    object
 73  shaggy_va                 571 non-null    object
 74  scooby_va                 575 non-null    object
dtypes: bool(9), float64(13), int64(5), object(48)
memory usage: 316.3+ KB

# Usefulness of each member

In [15]:
gang = ['fred','daphnie','velma','shaggy','scooby']

In [16]:
# one of the gang is captured by the monster
captured = ['captured_' + gang[i] for i in range(len(gang)) ]

# one of the gang catches the monster
caught = ['caught_' + gang[i] for i in range(len(gang)) ]

# one of the gang unmasks the monster
unmask = ['unmask_' + gang[i] for i in range(len(gang)) ]

# one of the gang offers a scooby snack
snack = ['snack_' + gang[i] for i in range(len(gang)) ]

In [17]:
sd[captured[0]].sum()

71

In [18]:
# number of times one of the gang is captured by the monster
captured = [sd[captured[i]].sum() for i in range(len(gang))]

# number of times one of the gang catches the monster
caught = [sd[caught[i]].sum() for i in range(len(gang))]

# number of times one of the gang unmasks the monster
unmask = [sd[unmask[i]].sum() for i in range(len(gang))]

# number of times one of the gang offers a scooby snack
snack = [sd[snack[i]].sum() for i in range(len(gang))]

Let's make a dataframe

In [29]:
dict= {'captured':captured,'caught':caught,'unmask':unmask,'snack':snack}
pd.DataFrame(dict,index=gang)

         captured  caught  unmask  snack
fred           71     132     102     18
daphnie        91      29      37     49
velma          74      41      94     29
shaggy         85      77      13     43
scooby         83     160      23     12